{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    {{>navbar}}

    <h1>hello this is secret page extension is hbs</h1>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
</head>
<body>
    
    {{>navbar}}

    <div class="user">
        <div class="userAmount">
            <div class="userAmountF">
                <p>Current Balance</p>
                <div class="FF">PKR 10,000</div>
            </div>
            <div class="userAmountS">
                <p>Accounts</p>
                <div class="SF"><h6>CASH</h6><h6>PKR 5,000</h6></div>
                <div class="SS"><h6>BANK</h6><h6>PKR 5,000</h6></div>
            </div>
        </div>
        <div class="userTransactions">
            <form class="formAdd" action="" method="">
                 <h1>ADD</h1>
                 <div class="checkDiv"><p>Income</p><input type="checkbox"><p>Expense</p><input type="checkbox"></div>
                 <input type="text" placeholder="Amount" name="amount">
                 <input type="text" placeholder="Category" name="category">
                 <div class="checkDiv"><p>Cash</p><input type="checkbox"><p>Bank</p><input type="checkbox"></div>
                 <div class="checkDiv"></div>
                 <button>AddOnce</button>
            </form>
            <div class="TM"><p>Transactions</p><button id="btn">+ ADD</button></div>
            <div class="TH">
                <h6>Transaction Type</h6>
                <h6>Amount</h6>
                <h6>Category</h6>
                <h6>Account</h6>
                <h6>Date | Time</h6>
                <h6>_______</h6>
            </div>
            <div class="TP">
                <p>Income</p>
                <p>Rs. 900/-</p>
                <p>Pocket Money</p>
                <p>Bank</p>
                <p>23-Feb-22|2.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>
            <div class="TP">
                <p>Expense</p>
                <p>Rs. 1000/-</p>
                <p>Eating Food</p>
                <p>cash</p>
                <p>23-Feb-22|9.30 PM</p>
                <div class="btn">:</div>
            </div>

        </div>
    </div>

    {{!-- <form class="formAdd" action="/login" method="post">
        <h1>ADD</h1>
        <div class="checkDiv"><p>Income</p><input type="checkbox"><p>Expense</p><input type="checkbox"></div>
        <input type="text" placeholder="Amount" name="amount">
        <input type="text" placeholder="Category" name="category">
        <div class="checkDiv"><p>Cash</p><input type="checkbox"><p>Bank</p><input type="checkbox"></div>
        <div class="checkDiv"></div>
        <button type="submit">AddOnce</button>
    </form> --}}


    {{>footer}}
    <script src="js/main.js"></script>

    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> --}}
</body>
</html>