<header>
        <div class="logo">
            <span>Expense Tracker App</span>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a id="secret" href="/secret">User</a></li>
                <li><a id="login" href="/login">Login</a></li>
                {{!-- <li><a href="/signup">Signup</a></li> --}}
                <li><a id="logout" href="/logout">Logout</a></li>


            </ul>
        </nav>
        <div class="fas fa-bars" id="menu-btn"></div>
    </header>